@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Ups...</h1>
<h2 class="text-danger">Coś poszło nie tak. Serwerowi jest przykro. Spróbujesz jeszcze raz?</h2>
<iframe src="https://giphy.com/embed/3Wv7ZChCNCL6GJd4Om" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/stickergiant-oops-uh-oh-dropped-the-ball-3Wv7ZChCNCL6GJd4Om">via GIPHY</a></p>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
