@model  AplikacjaRandkowa.Models.MatchModel
@{
    ViewData["Title"] = "Dopasowanie";
}

<h4>@Model.GetPersonOne().Imie</h4>
<h4>oraz</h4>
<h4>@Model.GetPersonTwo().Imie</h4>

<h3>@(Model.IsMatch() == true ? "pasują do siebie" : "Nie pasują do siebie")</h3>

