@model  AplikacjaRandkowa.Models.MatchModel
@{
    ViewData["Title"] = "Dopasowanie";
}

<h1>Dopasowanie między</h1>

<h4>@Model.PersonOne.Imie oraz @Model.PersonTwo.Imie</h4>

<h3>@Model.IsMatch()</h3>

