@model  AplikacjaRandkowa.Models.MatchModel
@{
    ViewData["Title"] = "Dopasowanie";
}

<h1>Dopasowanie między</h1>

<h4>@Model.GetPersonOne().Imie oraz @Model.GetPersonTwo().Imie</h4>

<h3>@Model.IsMatch()</h3>

